.theme-switcher {
  user-select: none;

  &:active {
    opacity: .8;
  }

  &__toggler {
    position: relative;
    display: flex;
    width: 40px;
    height: 20px;
    align-items: center;
    cursor: pointer;
    margin-inline-end: 30px;
  }

  &__checkbox {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(var(--clr-title-rgb), 0.8);
    border-radius: 100px;
    cursor: pointer;
    transition: border-color 150ms ease-out;

    &::before {
      position: absolute;
      top: 0;
      right: 3px;
      bottom: 0;
      width: 14px;
      height: 14px;
      margin: auto 0;
      background-color: rgba(var(--clr-title-rgb), 0.8);
      border-radius: 100px;
      content: "";
      transition: transform .15s linear, color .15s, background-color .15s ease-out;
    }
  }

  &__checkbox:checked+&__slider::before {
    transform: translateX(-19px);
  }
}


@media (max-width: 700px) {
  .theme-switcher {  
    &__toggler {
      margin-inline-end: 0px;
    }
  }
}