.dashboard {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    width: 100%;
    animation: fadeIn .8s ease-in-out;
    gap: 20px 15px;
}