html.light {
  --clr-gray: rgb(35, 35, 37);
  --clr-gray-rgb: 35, 35, 37;
  --clr-white: rgb(255, 255, 255);
  --clr-white-rgb: 255, 255, 255;
  --clr-background: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-black-rgb: 0, 0, 0;
  --clr-title: rgb(0, 0, 0);
  --clr-title-rgb: 0, 0, 0;
  --clr-orange: rgb(255, 202, 64);
  --clr-orange-rgb: 255, 202, 64;
  --clr-red: rgb(227, 73, 73);
  --clr-red-rgb: 227, 73, 73;
  --clr-green: rgb(91, 194, 28);
  --clr-green-rgb: 91, 194, 28;
  --clr-yellow: rgb(255, 232, 124);
  --clr-yellow-rgb: 255, 230, 0;
  --clr-violet: rgb(42, 245, 152);
  --clr-violet-rgb: 10, 207, 254;
  --clr-pink: rgb(10, 207, 254);
  --clr-pink-rgb: 42, 245, 152;
  --clr-light-pink: rgb(234, 213, 234);
  --clr-clouds: rgb(204, 255, 255);
  --clr-clouds-rgb: 204, 255, 255;  
  --clr-sun: rgb(255, 232, 124);
  --clr-sun-rgb: 255, 232, 124;

  --clr-header: rgb(67, 208, 167);
  --clr-header-rgb: 67, 208, 167;

  --clr-footer: rgb(26, 195, 209);
  --clr-footer-rgb: rgb(26 195 209 / 80%);
}

html.dark {
  --clr-gray: rgb(0, 0, 0);
  --clr-gray-rgb: 0, 0, 0;
  --clr-white: rgb(255, 255, 255);
  --clr-white-rgb: 255, 255, 255;
  --clr-background: #282828;
  --clr-black: rgb(0, 0, 0);
  --clr-black-rgb: 0, 0, 0;
  --clr-title: rgb(255, 255, 255);
  --clr-title-rgb: 255, 255, 255;
  --clr-orange: rgb(255, 202, 64);
  --clr-orange-rgb: 255, 202, 64;
  --clr-red: rgb(227, 73, 73);
  --clr-red-rgb: 227, 73, 73;
  --clr-green: rgb(50, 106, 15);
  --clr-green-rgb: 50, 106, 15;
  --clr-yellow: rgb(255, 255, 255);
  --clr-yellow-rgb: 255, 230, 0;
  --clr-violet: rgb(42, 245, 152);
  --clr-violet-rgb: 0, 0, 0;
  --clr-pink: rgb(10, 207, 254);
  --clr-pink-rgb: 0, 0, 0;
  --clr-light-pink: rgb(173, 161, 173);
  --clr-clouds: rgba(255, 255, 255,0.6);
  --clr-clouds-rgb:255, 255, 255,0.6;  
  --clr-sun: rgba(255, 255, 255,0.6);
  --clr-sun-rgb:255, 255, 255,0.6;

  --clr-header: rgb(28, 21, 37);
  --clr-header-rgb: 28, 21, 37;

  --clr-footer: rgb(10, 207, 254);
  --clr-footer-rgb: 22, 21, 34;
}
